# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build artifacts
ios/build/
ios/Pods/
android/build/
android/.gradle/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# local env
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
