{
  "android": {
    "keystore": {
      "keystorePath": "./credentials/android/keystore.jks",
      "keystorePassword": "REPLACE_ME",
      "keyAlias": "REPLACE_ME",
      "keyPassword": "REPLACE_ME"
    }
  },
  "ios": {
    "provisioningProfilePath": "./credentials/ios/profile.mobileprovision",
    "distributionCertificate": {
      "path": "./credentials/ios/dist.p12",
      "password": "REPLACE_ME"
    }
  }
}
